* {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    scroll-behavior: smooth;
    margin: 0;
}
html,body {
    max-height: 100%;
    width: 100%;
    margin: 0px;
    padding: 0px;
}
.content-container {
    min-height: 100vh;
}
#copyright-section {
    background-color: #000000 !important;
}

#copyright-section a:hover {
    text-decoration: underline !important;
}